---
layout: page
# The Home page layout
---
{% include lang.html %}

{% include lang.html %}

{% assign pinned = site.posts | where: "pin", "true" %}
{% assign default = site.posts | where_exp: "item", "item.pin != true and item.hidden != true" %}

{% assign posts = "" | split: "" %}

<div id="choose-category">
<div class="category-type">
  <h1>
  <i class="fas fa-chalkboard"> <a href="{{ site.baseurl }}{% link _tabs/teaching.md %}", class="category-link">Teaching</a></i>
  </h1>
</div>

<br>

<div class="category-type">
  <h1>
    <i class="fas fa-book"> <a href="{{ site.baseurl }}{% link _tabs/research.md %}", class="category-link">Research</a></i>
  </h1>
</div>
</div>
