---
layout: page
# The Home page layout
---
{% include lang.html %}

{% include lang.html %}

{% assign pinned = site.posts | where: "pin", "true" %}
{% assign default = site.posts | where_exp: "item", "item.pin != true and item.hidden != true" %}

{% assign posts = "" | split: "" %}

<center>
<div id="categories-title">
  <h1>
    Select the category
  </h1>
</div>
</center>

<div id="choose-category">
<div class="category-type">
  <h1>
  <a href="{{ site.baseurl }}{% link _tabs/teaching.md %}" class="category-link"><i class="fas fa-chalkboard better-icon">
    Teaching</i></a>
  </h1>
</div>

<br>

<div class="category-type">
  <h1>
    <a href="{{ site.baseurl }}{% link _tabs/research.md %}" class="category-link"><i class="fas fa-book better-icon"> Research </i></a>
  </h1>
</div>
</div>
